name: Publish Documentation

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  FORCE_COLOR: 3

jobs:
  release:
    name: Build and release
    runs-on: macos-latest
    permissions:
      contents: read
      packages: read
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Documentation
        run: npm run doc-typescript

      - name: Upload Pages artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-pages-artifact@v4
        with:
          path: "docs"

  deploy:
    if: startsWith(github.ref, 'refs/tags/')

    needs: release

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
